html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav .nav-item {
    display: inline-block; /* Ensure each nav item is inline */
    white-space: nowrap; /* Prevent text from wrapping */
}

.navbar-nav .nav-link {
    display: inline-block; /* Ensure each nav link is inline */
}
